html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-image: url("https://www.zapisz.net/imagesnew/2021/04/30/b9434e95e4a49bb032420f0e1e61a3ef.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



